{% load static %}
<!--

-->

<table id='todonto' class="table-responsive">
    <style>
        .odoimg {
            height: 90px;
            width: auto;
            padding: 0 2px;
            cursor: pointer;
            z-index: 0;
        }

        .btncara {

            height: 30px;
            width: 30px;
            text-align: center;
            vertical-align: middle;
            padding: 3px 3px;
        }

        .buttontrata {
            background-color: #adadad;
            color: #f9f9f9;
            height: 50px;
            width: 120px;
            margin-bottom: 10px;
        }
    </style>

    <!-- ADULTO SUPERIOR -->
    <tr>
        <td class='text-center ' id="td18" onclick="showmodal('18','P');">
            <div id='t18'>
                <img src={% static '/img/odonto/d18.png' %} class="odoimg" id="i18"/>
            </div>
            <label id='l18' class='n_diente'>1.8</label><br>
        </td>
        <td class='text-center ' onclick="showmodal('17','P');">
            <div class="" id='t17'>
                <img src={% static '/img/odonto/d17.png' %} class="odoimg"/>
            </div>
            <label id='l17' class='n_diente'>1.7</label>
        </td>
        <td class='text-center ' onclick="showmodal('16','P');">
            <div class="" id='t16'>
                <img src={% static '/img/odonto/d16.png' %} class="odoimg"/>
            </div>
            <label id='l16' class='n_diente'>1.6</label>
        </td>
        <td class='text-center ' onclick="showmodal('15','P');">
            <div class="" id='t15'>
                <img src={% static '/img/odonto/d15.png' %} class="odoimg"/>
            </div>
            <label id='l15' class='n_diente'>1.5</label>
        </td>
        <td class='text-center ' onclick="showmodal('14','P');">
            <div class="" id='t14'>
                <img src={% static '/img/odonto/d14.png' %} class="odoimg"/>
            </div>
            <label id='l14' class='n_diente'>1.4</label>
        </td>
        <td class='text-center ' onclick="showmodal('13','P');">
            <div class="" id='t13'>
                <img src={% static '/img/odonto/d13.png' %} class="odoimg"/>
            </div>
            <label id='l13' class='n_diente'>1.3</label>
        </td>
        <td class='text-center ' onclick="showmodal('12','P');">
            <div class="" id='t12'>
                <img src={% static '/img/odonto/d12.png' %} class="odoimg"/>
            </div>
            <label id='l12' class='n_diente'>1.2</label>
        </td>
        <td class='' style="border-right: 3px solid dodgerblue;" onclick="showmodal('11','P');">
            <div class="" id='t11'>
                <img src={% static '/img/odonto/d11.png' %} class="odoimg"/>
            </div>
            <label id='l11' class='n_diente'>1.1</label>
        </td>
        <td class='text-center' onclick="showmodal('21','P');">
            <div class="" id='t21'>
                <img src={% static '/img/odonto/d21.png' %} class="odoimg"/>
            </div>
            <label id='l21' class='n_diente'>2.1</label>
        </td>
        <td class='text-center' onclick="showmodal('22','P');">
            <div class="" id='t22'>
                <img src={% static '/img/odonto/d22.png' %} class="odoimg"/>
            </div>
            <label id='l22' class='n_diente'>2.2</label>
        </td>
        <td class='text-center' onclick="showmodal('23','P');">
            <div class="" id='t23'>
                <img src={% static '/img/odonto/d23.png' %} class="odoimg"/>
            </div>
            <label id='l23' class='n_diente'>2.3</label>
        </td>
        <td class='text-center' onclick="showmodal('24','P');">
            <div class="" id='t24'>
                <img src={% static '/img/odonto/d24.png' %} class="odoimg"/>
            </div>
            <label id='l24' class='n_diente'>2.4</label>
        </td>
        <td class='text-center' onclick="showmodal('25','P');">
            <div class="" id='t25'>
                <img src={% static '/img/odonto/d25.png' %} class="odoimg"/>
            </div>
            <label id='l25' class='n_diente'>2.5</label>
        </td>
        <td class='text-center' onclick="showmodal('26','P');">
            <div class="" id='t26'>
                <img src={% static '/img/odonto/d26.png' %} class="odoimg"/>
            </div>
            <label id='l26' class='n_diente'>2.6</label>
        </td>
        <td class='text-center' onclick="showmodal('27','P');">
            <div class="" id='t27'>
                <img src={% static '/img/odonto/d27.png' %} class="odoimg"/>
            </div>
            <label id='l27' class='n_diente'>2.7</label>
        </td>
        <td class='text-center' onclick="showmodal('28','P');">
            <div class="" id='t28'>
                <img src={% static '/img/odonto/d28.png' %} class="odoimg"/>
            </div>
            <label id='l28' class='n_diente'>2.8</label>
        </td>
    </tr>
    <!-- NINIO SUPERIOR -->
    <tr class='border_bottom'>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('55','P');">
            <div class='relative diente_ninio' id='t55'>
                <img src={% static '/img/odonto/d55.png' %} class="odoimg"/>
            </div>
            <label id='l55' class='n_diente'>5.5</label>
        </td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('54','P');">
            <div class='relative diente_ninio' id='t54'>
                <img src={% static '/img/odonto/d54.png' %} class="odoimg"/>
            </div>
            <label id='l54' class='n_diente'>5.4</label>
        </td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('53','P');">
            <div class='relative diente_ninio' id='t53'>
                <img src={% static '/img/odonto/d53.png' %} class="odoimg"/>
            </div>
            <label id='l53' class='n_diente'>5.3</label>
        </td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('52','P');">
            <div class='relative diente_ninio' id='t52'>
                <img src={% static '/img/odonto/d52.png' %} class="odoimg"/>
            </div>
            <label id='l52' class='n_diente'>5.2</label>
        </td>
        <td class='text-center padding_bottom border_bottom border_right'
            style="border-right: 3px solid dodgerblue;border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('51','P');">
            <div class='relative diente_ninio' id='t51'>
                <img src={% static '/img/odonto/d51.png' %} class="odoimg"/>
            </div>
            <label id='l51' class='n_diente'>5.1</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('61','P');">
            <div class='relative diente_ninio' id='t61'>
                <img src={% static '/img/odonto/d61.png' %} class="odoimg"/>
            </div>
            <label id='l61' class='n_diente'>6.1</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('62','P');">
            <div class='relative diente_ninio' id='t62'>
                <img src={% static '/img/odonto/d62.png' %} class="odoimg"/>
            </div>
            <label id='l62' class='n_diente'>6.2</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('63','P');">
            <div class='relative diente_ninio' id='t63'>
                <img src={% static '/img/odonto/d63.png' %} class="odoimg"/>
            </div>
            <label id='l63' class='n_diente'>6.3</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('64','P');">
            <div class='relative diente_ninio' id='t64'>
                <img src={% static '/img/odonto/d64.png' %} class="odoimg"/>
            </div>
            <label id='l64' class='n_diente'>6.4</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;"
            onclick="showmodal('65','P');">
            <div class='relative diente_ninio' id='t65'>
                <img src={% static '/img/odonto/d65.png' %} class="odoimg"/>
            </div>
            <label id='l65' class='n_diente'>6.5</label>
        </td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
    </tr>
    <!-- NINIO INFERIOR -->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class='text-center padding_top ' onclick="showmodal('85','L');">
            <div class='relative diente_ninio' id='t85'>
                <img src={% static '/img/odonto/d85.png' %} class="odoimg"/>
            </div>
            <label id='l85' class='n_diente'>8.5</label>
        </td>
        <td class='text-center padding_top ' onclick="showmodal('84','L');">
            <div class='relative diente_ninio' id='t84'>
                <img src={% static '/img/odonto/d84.png' %} class="odoimg"/>
            </div>
            <label id='l84' class='n_diente'>8.4</label>
        </td>
        <td class='text-center padding_top ' onclick="showmodal('83','L');">
            <div class='relative diente_ninio' id='t83'>
                <img src={% static '/img/odonto/d83.png' %} class="odoimg"/>
            </div>
            <label id='l83' class='n_diente'>8.3</label>
        </td>
        <td class='text-center padding_top ' onclick="showmodal('82','L');">
            <div class='relative diente_ninio' id='t82'>
                <img src={% static '/img/odonto/d82.png' %} class="odoimg"/>
            </div>
            <label id='l82' class='n_diente'>8.2</label>
        </td>
        <td class='text-center padding_top border_right' style="border-right: 3px solid dodgerblue;"
            onclick="showmodal('81','L');">
            <div class='relative diente_ninio' id='t81'>
                <img src={% static '/img/odonto/d81.png' %} class="odoimg"/>
            </div>
            <label id='l81' class='n_diente'>8.1</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('71','L');">
            <div class='relative diente_ninio' id='t71'>
                <img src={% static '/img/odonto/d71.png' %} class="odoimg"/>
            </div>
            <label id='l71' class='n_diente'>7.1</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('72','L');">
            <div class='relative diente_ninio' id='t72'>
                <img src={% static '/img/odonto/d72.png' %} class="odoimg"/>
            </div>
            <label id='l72' class='n_diente'>7.2</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('73','L');">
            <div class='relative diente_ninio' id='t73'>
                <img src={% static '/img/odonto/d73.png' %} class="odoimg"/>
            </div>
            <label id='l73' class='n_diente'>7.3</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('74','L');">
            <div class='relative diente_ninio' id='t74'>
                <img src={% static '/img/odonto/d74.png' %} class="odoimg"/>
            </div>
            <label id='l74' class='n_diente'>7.4</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('75','L');">
            <div class='relative diente_ninio' id='t75'>
                <img src={% static '/img/odonto/d75.png' %} class="odoimg"/>
            </div>
            <label id='l75' class='n_diente'>7.5</label>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!-- ADULTO INFERIOR -->
    <tr>
        <td class='text-center ' onclick="showmodal('48','L');">
            <div class="" id='t48'>
                <img src={% static '/img/odonto/d48.png' %} class="odoimg"/>
            </div>
            <label id='l48' class='n_diente'>4.8</label>
        </td>
        <td class='text-center ' onclick="showmodal('47','L');">
            <div class="" id='t47'>
                <img src={% static '/img/odonto/d47.png' %} class="odoimg"/>
            </div>
            <label id='l47' class='n_diente'>4.7</label>
        </td>
        <td class='text-center ' onclick="showmodal('46','L');">
            <div class="" id='t46'>
                <img src={% static '/img/odonto/d46.png' %} class="odoimg"/>
            </div>
            <label id='l46' class='n_diente'>4.6</label>
        </td>
        <td class='text-center '>
            <div class="" id='t45' onclick="showmodal('45','L');">
                <img src={% static '/img/odonto/d45.png' %} class="odoimg"/>
            </div>
            <label id='l45' class='n_diente'>4.5</label>
        </td>
        <td class='text-center ' onclick="showmodal('44','L');">
            <div class="" id='t44'>
                <img src={% static '/img/odonto/d44.png' %} class="odoimg"/>
            </div>
            <label id='l44' class='n_diente'>4.4</label>
        </td>
        <td class='text-center ' onclick="showmodal('43','L');">
            <div class="" id='t43'>
                <img src={% static '/img/odonto/d43.png' %} class="odoimg"/>
            </div>
            <label id='l43' class='n_diente'>4.3</label>
        </td>
        <td class='text-center ' onclick="showmodal('42','L');">
            <div class="" id='t42'>
                <img src={% static '/img/odonto/d42.png' %} class="odoimg"/>
            </div>
            <label id='l42' class='n_diente'>4.2</label>
        </td>
        <td class='text-center border_right' style="border-right: 3px solid dodgerblue;" onclick="showmodal('41','L');">
            <div class="" id='t41'>
                <img src={% static '/img/odonto/d41.png' %} class="odoimg"/>
            </div>
            <label id='l41' class='n_diente'>4.1</label>
        </td>
        <td class='text-center' onclick="showmodal('31','L');">
            <div class="" id='t31'>
                <img src={% static '/img/odonto/d31.png' %} class="odoimg"/>
            </div>
            <label id='l31' class='n_diente'>3.1</label>
        </td>
        <td class='text-center' onclick="showmodal('32','L');">
            <div class="" id='t32'>
                <img src={% static '/img/odonto/d32.png' %} class="odoimg"/>
            </div>
            <label id='l32' class='n_diente'>3.2</label>
        </td>
        <td class='text-center' onclick="showmodal('33','L');">
            <div class="" id='t33'>
                <img src={% static '/img/odonto/d33.png' %} class="odoimg"/>
            </div>
            <label id='l33' class='n_diente'>3.3</label>
        </td>
        <td class='text-center' onclick="showmodal('34','L');">
            <div class="" id='t34'>
                <img src={% static '/img/odonto/d34.png' %} class="odoimg"/>
            </div>
            <label id='l34' class='n_diente'>3.4</label>
        </td>
        <td class='text-center' onclick="showmodal('35','L');">
            <div class="" id='t35'>
                <img src={% static '/img/odonto/d35.png' %} class="odoimg"/>
            </div>
            <label id='l35' class='n_diente'>3.5</label>
        </td>
        <td class='text-center' onclick="showmodal('36','L');">
            <div class="" id='t36'>
                <img src={% static '/img/odonto/d36.png' %} class="odoimg"/>
            </div>
            <label id='l36' class='n_diente'>3.6</label>
        </td>
        <td class='text-center' onclick="showmodal('37','L');">
            <div class="" id='t37'>
                <img src={% static '/img/odonto/d37.png' %} class="odoimg"/>
            </div>
            <label id='l37' class='n_diente'>3.7</label>
        </td>
        <td class='text-center' onclick="showmodal('38','L');">
            <div class="" id='t38'>
                <img src={% static '/img/odonto/d38.png' %} class="odoimg"/>
            </div>
            <label id='l38' class='n_diente'>3.8</label>
        </td>
    </tr>
</table>
<script>

    let pieza = [{}];
    pieza.push({nombre: 13, caras: dameCaras()});

    function regresaCara(id) { //si es gris está seleccionado
        if (queColorEs(id) == 'gris') {
            return true
        } else {
            return false
        }
    }

    function dameCaras() {
        sumaCaras = "";
        if (regresaCara('carav')) {
            sumaCaras = sumaCaras + "V";
        }
        if (regresaCara('carad')) {
            sumaCaras = sumaCaras + "D";
        }
        if (regresaCara('intoclu')) {
            sumaCaras = sumaCaras + document.getElementById('intoclu').innerText;
        }
        if (regresaCara('caram')) {
            sumaCaras = sumaCaras + "M";
        }
        if (regresaCara('btnPalaLin')) {
            sumaCaras = sumaCaras + document.getElementById('btnPalaLin').innerText;
        }

        return sumaCaras;
    }

    function limpiar() {
        document.getElementById('carav').style.backgroundColor = "#0069d9";
        document.getElementById('carad').style.backgroundColor = "#0069d9";
        document.getElementById('intoclu').style.backgroundColor = "#0069d9";
        document.getElementById('caram').style.backgroundColor = "#0069d9";
        document.getElementById('btnPalaLin').style.backgroundColor = "#0069d9";
    }

    todonto.onclick = function (event) {
        let target = event.target; // where was the click?
        if (target.tagName != 'TD') return; // not on TD? Then we're not interested
        let modalOdonto = document.getElementById('modalListaArticulos');
        modalOdonto.style.display = "none";
    };

    function showmodal(cual, palalin) {
        limpiar();
        var img = {% static i %}+'/img/odonto/d' + cual + '.png';
        document.getElementById("modalImg").src = img;
        document.getElementById('lblOdonto').innerText = cual;
        document.getElementById('btnPalaLin').innerText = palalin;
        const numcual = Number(cual);
        if (numcual == 13 || numcual == 12 || numcual == 11 || numcual == 21 || numcual == 22 || numcual == 23
            || numcual == 53 || numcual == 52 || numcual == 51 || numcual == 61 || numcual == 62 || numcual == 63
            || numcual == 83 || numcual == 82 || numcual == 81 || numcual == 71 || numcual == 72 || numcual == 73
            || numcual == 43 || numcual == 42 || numcual == 41 || numcual == 31 || numcual == 32 || numcual == 31) {
            document.getElementById('intoclu').innerText = 'I';
        } else {
            document.getElementById('intoclu').innerText = 'O';
        }
        $('#basicExampleModal').modal({keyboard: false})
        $('#basicExampleModal').modal();

        //var cual = new Pieza(cual);
    }

    function agregarPiezaPresupusto() {
        //alert("Agrega");
        let hayCaras = dameCaras();

            let lbl = 'l' + document.getElementById('lblOdonto').innerText;
            document.getElementById(lbl).style.backgroundColor = "#0069d9";
            document.getElementById(lbl).style.color = '#ffffff';
    }

    function cerrarModal() {
        // dameCaras();
        ///limpiar();
        $('#basicExampleModal').modal('hide');
        //alert("salir");
        //alert(document.getElementById('lblOdonto').innerText+" "+dameCaras());
    }

    function componentToHex(c) {
        var hex = c.toString(16);
        return hex.length == 1 ? "0" + hex : hex;
    }

    function rgbToHex(rgb) {
        return "#" + componentToHex(+rgb[0]) + componentToHex(+rgb[1]) + componentToHex(+rgb[2]);
    }

    function regresaColor(id) {
        let boton = document.getElementById(id);
        var bg_color = window.getComputedStyle(boton, null).backgroundColor;
        bg_color = bg_color.match(/\d+/g);
        backcolor = rgbToHex(bg_color);
        return backcolor;
    }

    function queColorEs(id) {
        backcolor = regresaColor(id);
        if (backcolor == "#0069d9") {
            return 'azul';
        } else {
            return 'gris';
        }
    }

    function cara(cual, id) {
        nombreDiente = document.getElementById('lblOdonto');

        if (queColorEs(id) == 'azul') {
            document.getElementById(id).style.backgroundColor = "#808080";
        } else {
            document.getElementById(id).style.backgroundColor = "#0069d9";
        }

        if (cual == "IO") {
            cualcara = document.getElementById('intoclu').innerText;
            //alert(cualcara);
        } else {
            //alert(cual);

        }
    }
    function limpiaCadena(desc){
        //alert(desc);
        let getPorcentaje =desc.substring(desc.indexOf('$')+1,10);
        //alert(getPorcentaje);
        return getPorcentaje;


    }
    function guardaPresupuesto(){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
       let  datos = [
       ]
        const id_paciente = {{ id }};
        const id_doctor = '2';
        var tabla = document.getElementById("tpresupuesto");
       let ren={};
        for (var i = 1; i < tabla.rows.length-1; i++) {
            if (tabla.rows[i].cells.length) {
                //alert(tabla.rows[i].cells[0].innerText);
                ren = { id_paciente:id_paciente,
                        id_doctor:id_doctor,
                        id:tabla.rows[i].cells[0].innerText,
                        tratamiento:tabla.rows[i].cells[1].innerText,
                        precio : limpiaCadena(tabla.rows[i].cells[2].innerText),
                        descuento:limpiaCadena(tabla.rows[i].cells[4].innerText),
                        total: limpiaCadena(tabla.rows[i].cells[5].innerText)
                }
                datos.push(ren);
            }
        }
        fetch('/ax_guardaPresupuesto',
        {
            method: "POST",
            headers: {
                'Content-type' : "text/html; charset=utf-8",
                'Accept': 'application/json',
                'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({'presu_data': datos}) //JavaScript object of data to POST
        })
        .then((response) => response.json())
        .then((response) => {
            let mensaje = response.respuesta['respuesta'];
                if (mensaje.indexOf('Error')!=-1)
                {toastr.error(mensaje)}
                else{toastr.success(mensaje);}
        })
        .catch(error => console.warn(error));
    }

    function getPrecio(idTratamiento) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        return fetch('/ax_obtenPrecioTratamiento',
            {
                method: "POST",
                headers: {
                    'Accept': 'application/json',
                    'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'id_tratamiento': idTratamiento}) //JavaScript object of data to POST
            })
            .then((response) => response.json())
            .then((responseData) => {
                return responseData;
            })
            .catch(error => console.warn(error));
    }
    function agregatratamiento(){
        alert('hola');
    }

    function insertarTabla(cual,que){
        getPrecio(cual).then(response => {
            insertarTratamiento(cual, que+'-'+damePieza(), response['respuesta'],);
        });
        cerrarModal();
    }
    function damePieza(){
        let pieza = document.getElementById('lblOdonto').textContent;
        let salida = pieza.substring(0,1)+'.'+pieza.substring(2,1);
        return salida;
    }
    function descuento(lin,idtratamiento,porcentaje){
        var table = document.getElementById('tpresupuesto');
        var row = lin.parentNode.parentNode.rowIndex;
        let precio = table.rows[row].cells[2].textContent.trim().substring(1,30);
        let porcen = (precio * porcentaje)/100;
        let total = precio - porcen;
        table.rows[row].cells[4].textContent = "(-"+porcentaje+"%)$ "+porcen;
        table.rows[row].cells[4].style = 'color:#006cfa;';
        table.rows[row].cells[5].textContent = "$ "+total;
        //alert(row+' '+idtratamiento+  " "+ porcen);
        calculaTotal();
    }
    function borraRow(el){
        var tbl = el.parentNode.parentNode.parentNode;
        var row = el.parentNode.parentNode.rowIndex-1;

        tbl.deleteRow(row);
        calculaTotal();
    }
    function calculaTotal(){
        var table = document.getElementById('tpresupuesto');
        let sum_precio=0;
        let sum_descuento=0;
        let sum_total=0;
        for (var i = 1; i < table.rows.length-1; i++) {
          if (table.rows[i].cells.length) {
            var precio = (table.rows[i].cells[2].textContent.trim().substring(1,30));
            let carac=table.rows[i].cells[4].textContent.trim().substring(0,1);
            if (carac!='$'){
                var descuento = (table.rows[i].cells[4].textContent.trim().substring(7,30));
            }else{
               var descuento = (table.rows[i].cells[4].textContent.trim().substring(1,30));
            }

            var total = (table.rows[i].cells[5].textContent.trim().substring(1,30));
            sum_precio = sum_precio + parseFloat(precio);
            sum_descuento = sum_descuento + parseFloat(descuento);
            sum_total = sum_total + parseFloat(total);
          }
        }
        let total_descuento = sum_precio - sum_descuento;
        document.getElementById('lblPrecio').innerText='$ '+sum_precio;
        document.getElementById('lblDescuento').innerText = '$ '+sum_descuento;
        document.getElementById('lblTotal').innerText = '$ '+total_descuento;
    }
    function insertarTratamiento(id_tratamiento, desc_tratam, precio) {
        let caras = dameCaras();
        let _caras = "";
        if (caras.length>0)
            {_caras='('+caras+")"}
        var tableRef = document.getElementById('tpresupuesto');
        var newRow = tableRef.insertRow(1);
        var newCell = newRow.insertCell(-1);
        var newText = document.createTextNode(id_tratamiento);
        newCell.appendChild(newText);
        var newCell = newRow.insertCell(-1);
        var newText = document.createTextNode(desc_tratam+_caras);
        newCell.appendChild(newText);
        var newCell = newRow.insertCell(-1);
        var newText = document.createTextNode('$ '+precio);
        newCell.appendChild(newText);
        /*Porcentaje Descuento*/
        var newCell = newRow.insertCell(-1);
        var input = document.createElement("input");
        input.type = "button";
        input.id='id10_desc_'+id_tratamiento
        input.className = "btn btn-outline-primary btn-sm";
        input.value = "-10%";
        input.setAttribute('onClick', 'descuento('+"this,"+ id_tratamiento+',10)');
         var input2 = document.createElement("input");
        input2.type = "button";
        input2.id='id20_desc_'+id_tratamiento
        input2.className = "btn btn-outline-primary btn-sm ";
        input2.style='margin-left:5px'
        input2.value = "-20%";
        input2.setAttribute('onClick', 'descuento('+"this,"+ id_tratamiento+',20)');
        newCell.appendChild(input);
        newCell.appendChild(input2);
        /*Input Descuento*/

        var newCell = newRow.insertCell(-1);
        var newText = document.createTextNode('$ 0');
        newCell.appendChild(newText);
        /*Total*/
        var newCell = newRow.insertCell(-1);
        var newText = document.createTextNode('$ '+precio);
        newCell.appendChild(newText);

        /*Eliminar*/
        var newCell = newRow.insertCell(-1);
        var input = document.createElement("input");
        input.type = "button";
        input.id='id_desc'+id_tratamiento
        input.className = "btn btn-outline-danger btn-sm";
        input.value = "X";
        input.setAttribute('onclick','borraRow(this)');
        newCell.appendChild(input);
        agregarPiezaPresupusto();

        calculaTotal();
    }

</script>

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 800px; ">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #17a2b8;">
                <h5 class="modal-title" id="exampleModalLabel">Tratamientos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrarModal();">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-1 justify-content-center">

                        <img id="modalImg" src='' class="odoimg" style="padding: 5px 5px;"/><br>
                        <label for="modalImg" id="lblOdonto"
                               style="padding: 5px 10px;background-color: #006cfa;color: #f9f9f9"></label>
                    </div>
                    <div class="col-md-2">
                        <table class='caras'>
                            <tr>
                                <td></td>
                                <td>
                                    <button id="carav" onclick="cara('V','carav');" class="btn btn-primary btncara">V
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="carad" onclick="cara('D','carad');" class="btn btn-primary btncara">D
                                    </button>
                                </td>
                                <td>
                                    <button onclick="cara('IO','intoclu');" class="btn btn-primary btncara"
                                            id="intoclu"></button>
                                </td>
                                <td>
                                    <button id="caram" onclick="cara('M','caram');" class="btn btn-primary btncara">M
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button id="btnPalaLin" onclick="cara('P','btnPalaLin');"
                                            class="btn btn-primary btncara">P
                                    </button>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-9" style="padding: 10px;">
                        <button id="bresina" onclick="insertarTabla(2,'Resina');" class="btn btn-outline-secondary buttontrata">Resina
                        </button>
                        <button id="bamalgama" onclick="insertarTabla(7,'Amalgama');" class="btn btn-outline-secondary buttontrata">Amalgama</button>
                        <button id="bporcelana" class="btn btn-outline-secondary buttontrata">Porcelana</button>
                        <button id="bextraccion" class="btn btn-outline-secondary buttontrata">Extracción</button>
                        <button id="blibremetal" class="btn btn-outline-secondary buttontrata">Libre de Metal</button>
                        <button id="bzirconia" class="btn btn-outline-secondary buttontrata">Zirconia</button>
                        <button id="bendodoncia" class="btn btn-outline-secondary buttontrata">Endodoncia</button>
                        <button id="bimplante" onclick="insertarTabla(8,'Implante');" class="btn btn-outline-secondary buttontrata">Implante</button>

                        <button id="bpuente" class="btn btn-outline-secondary buttontrata">Puente</button>
                        <button id="bcuracion" onclick="insertarTabla(6,'Curación');" class="btn btn-outline-secondary buttontrata">Curación</button>
                        <button id="bincustra" class="btn btn-outline-secondary buttontrata">Incrustación</button>

                    </div>
                </div>

            </div>
            <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" onclick="cerrarModal();">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="agregarPresupusto();">Agregar</button>
          </div>
          -->
        </div>
    </div>
</div>