{% load static %}
<!--

-->

<table id='todonto' class="table-responsive">
    <style>
        .odoimg{
                height: 90px;
                width: auto;
                padding: 0 2px;
                cursor: pointer;
                z-index: 0;
            }

    </style>

    <!-- ADULTO SUPERIOR -->
    <tr>
        <td class='text-center ' id="td18" onclick="showmodal('18','P');">
            <div id='t18'>
                <img src={% static '/img/odonto/d18.png' %} class="odoimg" id="i18" />
            </div>
            <label data-ndiente='18' class='n_diente'>1.8</label>

        </td>
        <td class='text-center ' onclick="showmodal('17','P');">
            <div class="" id='t17'>
                <img src={% static '/img/odonto/d17.png' %} class="odoimg" />
            </div>
            <label data-ndiente='17' class='n_diente'>1.7</label>
        </td>
        <td class='text-center ' onclick="showmodal('16','P');">
            <div class=""id='t16'>
                <img src={% static '/img/odonto/d16.png' %} class="odoimg" />
            </div>
            <label data-ndiente='16' class='n_diente'>1.6</label>
        </td>
        <td class='text-center ' onclick="showmodal('15','P');">
            <div class=""id='t15'>
                <img src={% static '/img/odonto/d15.png' %} class="odoimg" />
            </div>
            <label data-ndiente='15' class='n_diente'>1.5</label>
        </td>
        <td class='text-center ' onclick="showmodal('14','P');">
            <div class=""id='t14'>
                <img src={% static '/img/odonto/d14.png' %} class="odoimg" />
            </div>
            <label data-ndiente='14' class='n_diente'>1.4</label>
        </td>
        <td class='text-center ' onclick="showmodal('13','P');">
            <div class=""id='t13'>
                <img src={% static '/img/odonto/d13.png' %} class="odoimg" />
            </div>
            <label data-ndiente='13' class='n_diente'>1.3</label>
        </td>
        <td class='text-center ' onclick="showmodal('12','P');">
            <div class=""id='t12'>
                <img src={% static '/img/odonto/d12.png' %} class="odoimg" />
            </div>
            <label data-ndiente='12' class='n_diente'>1.2</label>
        </td>
        <td class='' style="border-right: 3px solid dodgerblue;" onclick="showmodal('11','P');">
            <div class=""id='t11'>
                <img src={% static '/img/odonto/d11.png' %} class="odoimg" />
            </div>
            <label data-ndiente='11' class='n_diente'>1.1</label>
        </td>
        <td class='text-center' onclick="showmodal('21','P');">
            <div class=""id='t21'>
                <img src={% static '/img/odonto/d21.png' %} class="odoimg" />
            </div>
            <label data-ndiente='21' class='n_diente'>2.1</label>
        </td>
        <td class='text-center' onclick="showmodal('22','P');">
            <div class=""id='t22' >
                <img src={% static '/img/odonto/d22.png' %} class="odoimg" />
            </div>
            <label data-ndiente='22' class='n_diente'>2.2</label>
        </td>
        <td class='text-center' onclick="showmodal('23','P');">
            <div class=""id='t23'>
                <img src={% static '/img/odonto/d23.png' %} class="odoimg" />
            </div>
            <label data-ndiente='23' class='n_diente'>2.3</label>
        </td>
        <td class='text-center' onclick="showmodal('24','P');">
            <div class=""id='t24'>
                <img src={% static '/img/odonto/d24.png' %} class="odoimg" />
            </div>
            <label data-ndiente='24' class='n_diente'>2.4</label>
        </td>
        <td class='text-center' onclick="showmodal('25','P');">
            <div class=""id='t25'>
                <img src={% static '/img/odonto/d25.png' %} class="odoimg" />
            </div>
            <label data-ndiente='25' class='n_diente'>2.5</label>
        </td>
        <td class='text-center' onclick="showmodal('26','P');">
            <div class=""id='t26'>
                <img src={% static '/img/odonto/d26.png' %} class="odoimg" />
            </div>
            <label data-ndiente='26' class='n_diente'>2.6</label>
        </td>
        <td class='text-center' onclick="showmodal('27','P');">
            <div class=""id='t27'>
                <img src={% static '/img/odonto/d27.png' %} class="odoimg" />
            </div>
            <label data-ndiente='27' class='n_diente'>2.7</label>
        </td>
        <td class='text-center' onclick="showmodal('28','P');">
            <div class=""id='t28'>
                <img src={% static '/img/odonto/d28.png' %} class="odoimg" />
            </div>
            <label data-ndiente='28' class='n_diente'>2.8</label>
        </td>
    </tr>
    <!-- NINIO SUPERIOR -->
    <tr class='border_bottom'>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('55','P');">
            <div class='relative diente_ninio' id='t55'>
                <img src={% static '/img/odonto/d55.png' %} class="odoimg" />
            </div>
            <label data-ndiente='55' class='n_diente'>5.5</label>
        </td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('54','P');">
            <div class='relative diente_ninio' id='t54'>
                <img src={% static '/img/odonto/d54.png' %} class="odoimg" />
            </div>
            <label data-ndiente='54' class='n_diente'>5.4</label>
        </td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('53','P');">
            <div class='relative diente_ninio' id='t53'>
                <img src={% static '/img/odonto/d53.png' %} class="odoimg" />
            </div>
            <label data-ndiente='53' class='n_diente'>5.3</label>
        </td>
        <td class='text-center padding_bottom border_bottom ' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('52','P');">
            <div class='relative diente_ninio' id='t52'>
                <img src={% static '/img/odonto/d52.png' %} class="odoimg" />
            </div>
            <label data-ndiente='52' class='n_diente'>5.2</label>
        </td>
        <td class='text-center padding_bottom border_bottom border_right'
            style="border-right: 3px solid dodgerblue;border-bottom: 3px solid dodgerblue;" onclick="showmodal('51','P');">
            <div class='relative diente_ninio' id='t51'>
                <img src={% static '/img/odonto/d51.png' %} class="odoimg" />
            </div>
            <label data-ndiente='51' class='n_diente'>5.1</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('61','P');">
            <div class='relative diente_ninio' id='t61'>
                <img src={% static '/img/odonto/d61.png' %} class="odoimg" />
            </div>
            <label data-ndiente='61' class='n_diente'>6.1</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('62','P');">
            <div class='relative diente_ninio' id='t62'>
                <img src={% static '/img/odonto/d62.png' %} class="odoimg" />
            </div>
            <label data-ndiente='62' class='n_diente'>6.2</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('63','P');">
            <div class='relative diente_ninio' id='t63'>
                <img src={% static '/img/odonto/d63.png' %} class="odoimg" />
            </div>
            <label data-ndiente='63' class='n_diente'>6.3</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('64','P');">
            <div class='relative diente_ninio' id='t64'>
                <img src={% static '/img/odonto/d64.png' %} class="odoimg" />
            </div>
            <label data-ndiente='64' class='n_diente'>6.4</label>
        </td>
        <td class='text-center padding_bottom border_bottom' style="border-bottom: 3px solid dodgerblue;" onclick="showmodal('65','P');">
            <div class='relative diente_ninio' id='t65'>
                <img src={% static '/img/odonto/d65.png' %} class="odoimg" />
            </div>
            <label data-ndiente='65' class='n_diente'>6.5</label>
        </td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
        <td style="border-bottom: 3px solid dodgerblue;"></td>
    </tr>
    <!-- NINIO INFERIOR -->
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class='text-center padding_top ' onclick="showmodal('85','L');">
            <div class='relative diente_ninio' id='t85'>
                <img src={% static '/img/odonto/d85.png' %} class="odoimg" />
            </div>
            <label data-ndiente='85' class='n_diente'>8.5</label>
        </td>
        <td class='text-center padding_top ' onclick="showmodal('84','L');">
            <div class='relative diente_ninio' id='t84'>
                <img src={% static '/img/odonto/d84.png' %} class="odoimg" />
            </div>
            <label data-ndiente='84' class='n_diente'>8.4</label>
        </td>
        <td class='text-center padding_top ' onclick="showmodal('83','L');">
            <div class='relative diente_ninio' id='t83'>
                <img src={% static '/img/odonto/d83.png' %} class="odoimg" />
            </div>
            <label data-ndiente='83' class='n_diente'>8.3</label>
        </td>
        <td class='text-center padding_top ' onclick="showmodal('82','L');">
            <div class='relative diente_ninio' id='t82'>
                <img src={% static '/img/odonto/d82.png' %} class="odoimg" />
            </div>
            <label data-ndiente='82' class='n_diente'>8.2</label>
        </td>
        <td class='text-center padding_top border_right' style="border-right: 3px solid dodgerblue;" onclick="showmodal('81','L');">
            <div class='relative diente_ninio' id='t81'>
                <img src={% static '/img/odonto/d81.png' %} class="odoimg" />
            </div>
            <label data-ndiente='81' class='n_diente'>8.1</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('71','L');">
            <div class='relative diente_ninio' id='t71'>
                <img src={% static '/img/odonto/d71.png' %} class="odoimg" />
            </div>
            <label data-ndiente='71' class='n_diente'>7.1</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('72','L');">
            <div class='relative diente_ninio' id='t72'>
                <img src={% static '/img/odonto/d72.png' %} class="odoimg" />
            </div>
            <label data-ndiente='72' class='n_diente'>7.2</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('73','L');">
            <div class='relative diente_ninio' id='t73'>
                <img src={% static '/img/odonto/d73.png' %} class="odoimg" />
            </div>
            <label data-ndiente='73' class='n_diente'>7.3</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('74','L');">
            <div class='relative diente_ninio' id='t74'>
                <img src={% static '/img/odonto/d74.png' %} class="odoimg" />
            </div>
            <label data-ndiente='74' class='n_diente'>7.4</label>
        </td>
        <td class='text-center padding_top' onclick="showmodal('75','L');">
            <div class='relative diente_ninio' id='t75'>
                <img src={% static '/img/odonto/d75.png' %} class="odoimg" />
            </div>
            <label data-ndiente='75' class='n_diente'>7.5</label>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <!-- ADULTO INFERIOR -->
    <tr>
        <td class='text-center ' onclick="showmodal('48','L');">
            <div class=""id='t48'>
                <img src={% static '/img/odonto/d48.png' %} class="odoimg" />
            </div>
            <label data-ndiente='48' class='n_diente'>4.8</label>
        </td>
        <td class='text-center ' onclick="showmodal('47','L');">
            <div class=""id='t47'>
                <img src={% static '/img/odonto/d47.png' %} class="odoimg" />
            </div>
            <label data-ndiente='47' class='n_diente'>4.7</label>
        </td>
        <td class='text-center ' onclick="showmodal('46','L');">
            <div class=""id='t46'>
                <img src={% static '/img/odonto/d46.png' %} class="odoimg" />
            </div>
            <label data-ndiente='46' class='n_diente'>4.6</label>
        </td>
        <td class='text-center '>
            <div class=""id='t45' onclick="showmodal('45','L');">
                <img src={% static '/img/odonto/d45.png' %} class="odoimg" />
            </div>
            <label data-ndiente='45' class='n_diente'>4.5</label>
        </td>
        <td class='text-center ' onclick="showmodal('44','L');">
            <div class=""id='t44'>
                <img src={% static '/img/odonto/d44.png' %} class="odoimg" />
            </div>
            <label data-ndiente='44' class='n_diente'>4.4</label>
        </td>
        <td class='text-center ' onclick="showmodal('43','L');">
            <div class=""id='t43'>
                <img src={% static '/img/odonto/d43.png' %} class="odoimg" />
            </div>
            <label data-ndiente='43' class='n_diente'>4.3</label>
        </td>
        <td class='text-center ' onclick="showmodal('42','L');">
            <div class=""id='t42'>
                <img src={% static '/img/odonto/d42.png' %} class="odoimg" />
            </div>
            <label data-ndiente='42' class='n_diente'>4.2</label>
        </td>
        <td class='text-center border_right' style="border-right: 3px solid dodgerblue;" onclick="showmodal('41','L');">
            <div class=""id='t41'>
                <img src={% static '/img/odonto/d41.png' %} class="odoimg" />
            </div>
            <label data-ndiente='41' class='n_diente'>4.1</label>
        </td>
        <td class='text-center' onclick="showmodal('31','L');">
            <div class=""id='t31'>
                <img src={% static '/img/odonto/d31.png' %} class="odoimg" />
            </div>
            <label data-ndiente='31' class='n_diente'>3.1</label>
        </td>
        <td class='text-center' onclick="showmodal('32','L');">
            <div class=""id='t32'>
                <img src={% static '/img/odonto/d32.png' %} class="odoimg" />
            </div>
            <label data-ndiente='32' class='n_diente'>3.2</label>
        </td>
        <td class='text-center' onclick="showmodal('33','L');">
            <div class=""id='t33'>
                <img src={% static '/img/odonto/d33.png' %} class="odoimg" />
            </div>
            <label data-ndiente='33' class='n_diente'>3.3</label>
        </td>
        <td class='text-center' onclick="showmodal('34','L');">
            <div class=""id='t34'>
                <img src={% static '/img/odonto/d34.png' %} class="odoimg" />
            </div>
            <label data-ndiente='34' class='n_diente'>3.4</label>
        </td>
        <td class='text-center' onclick="showmodal('35','L');">
            <div class=""id='t35'>
                <img src={% static '/img/odonto/d35.png' %} class="odoimg" />
            </div>
            <label data-ndiente='35' class='n_diente'>3.5</label>
        </td>
        <td class='text-center' onclick="showmodal('36','L');">
            <div class=""id='t36'>
                <img src={% static '/img/odonto/d36.png' %} class="odoimg" />
            </div>
            <label data-ndiente='36' class='n_diente'>3.6</label>
        </td>
        <td class='text-center' onclick="showmodal('37','L');">
            <div class=""id='t37'>
                <img src={% static '/img/odonto/d37.png' %} class="odoimg" />
            </div>
            <label data-ndiente='37' class='n_diente'>3.7</label>
        </td>
        <td class='text-center' onclick="showmodal('38','L');">
            <div class=""id='t38'>
                <img src={% static '/img/odonto/d38.png' %} class="odoimg" />
            </div>
            <label data-ndiente='38' class='n_diente'>3.8</label>
        </td>
    </tr>
</table>
 <script>
        todonto.onclick = function(event) {
          let target = event.target; // where was the click?

          if (target.tagName != 'TD') return; // not on TD? Then we're not interested
            let modalOdonto = document.getElementById('modalListaArticulos');
            modalOdonto.style.display = "none";

        };

        function showmodal(cual,palalin){
            var img = {% static i %}+'/img/odonto/d'+cual+'.png';
            document.getElementById("modalImg").src = img;
            document.getElementById('lblOdonto').innerText=cual;
            document.getElementById('btnPalaLin').innerText=palalin;
            const numcual = Number(cual);
            if (numcual==13||numcual==12||numcual==11||numcual==21||numcual==22||numcual==23
                ||numcual==53||numcual==52||numcual==51||numcual==61||numcual==62||numcual==63
                ||numcual==83||numcual==82||numcual==81||numcual==71||numcual==72||numcual==73
                ||numcual==43||numcual==42||numcual==41||numcual==31||numcual==32||numcual==31){
                document.getElementById('intoclu').innerText='I';}
            else {
                document.getElementById('intoclu').innerText='O';
            }
            $('#basicExampleModal').modal() ;

        }
        function agregarPresupusto(){
            alert("Agrega");
        }
        function cara(cual,id){
            alert(id);
            document.getElementById(id).style.backgroundColor="gray";
            if (cual=="IO"){
                cualcara = document.getElementById('intoclu').innerText;
                alert(cualcara);
            }else{
            alert(cual);}
        }
    </script>

<!-- Modal -->
<div class="modal fade"  id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 800px; ">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #17a2b8;">
        <h5 class="modal-title" id="exampleModalLabel">Tratamientos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-md-2 ">
                <img id="modalImg" src='' class="odoimg"  />
                <label for="modalImg" id="lblOdonto"></label>
            </div>
            <div class="col-md-2">
                 <table class='caras'>
                    <tr>
                        <td></td>
                        <td>
                            <button id="carav" onclick="cara('V','carav');" class="btn btn-primary">V</button>
                            </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-primary">D</button></td>
                        <td>
                            <button  onclick="cara('IO');" class="btn btn-primary" id="intoclu"></button>
                        </td>
                        <td><button id="18v" class="btn btn-primary">M</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button id="btnPalaLin" class="btn btn-primary">P</button></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <label for="sArticulos">Tratamientos:</label>
                <select class="form-control" id="sArticulos" >
                    {% for art in articulos %}
                       <option  value="{{art.id}}">
                           {{art.descripcion}}
                       </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row" style="padding: 5px; 5px;">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <label for="sArticulos">Cantidad:</label>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="agregarPresupusto();">Agregar</button>
      </div>
    </div>
  </div>
</div>