{% extends "genericos/layout.html" %}
{% block content %}
    {% load static %}
    {% csrf_token %}
  <!-- Content Wrapper. Contains page content -->

<div class="content-wrapper">
  	<section class="content">
      <div class="container-fluid">
      	<div class="card ">
           <div class="card-header">
            <div class="row" style="padding: 5px 5px;">
                <div class="col-md-8 input-group mb-3">
                      <label for="paciente_hc">Paciente:</label>
                        <span style="margin-left: 5px;" id="paciente_hc">{{ id }} {{ nombre }}</span>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">

                    <label for="i"></label>
                    <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">
                      <i class="fas fa-wrench" style="color: #1682BB;"></i>
                    </button>
                    {% include 'panel_paciente.html' %}

                </div>
            </div>


            <ul class="nav nav-tabs" id="hcTabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link " href="#histori" id="histori-tab" data-toggle="tab"  role="tab" aria-controls="histori" aria-selected="true"><i class="fas fa-file-contract"></i> Historia Clínica</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#presu" id="presu-tab" data-toggle="tab"  role="tab" aria-controls="presu" aria-selected="false"><i class="fas fa-file-invoice-dollar"></i> Presupuesto</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#docu" id="docu-tab" data-toggle="tab"  role="tab" aria-controls="docu" aria-selected="false"><i class="fas fa-file-medical-alt"></i> Documentos</a>
              </li>

            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="histori" role="tabpanel" aria-labelledby="histori-tab">

                {% include 'card_historia.html' %}

              </div>
              <div class="tab-pane" id="presu" role="tabpanel" aria-labelledby="presu-tab">
                  {% include 'card_presupuesto.html' %}
              </div>
              <div class="tab-pane" id="docu" role="tabpanel" aria-labelledby="docu-tab">
                  {% include 'card-documentos.html' %}
              </div>

            </div>
            <script>
               $(function () {
                $('#hcTabs li:last-child a').tab('show')
              })
            </script>



             <div class="modal-footer">

              </div>

        </div>
      </div>



    </section>
</div>
     <script>
        const existe = {{ existeHC }};
        if (existe!=0) {
            //alert('Existe dd');
            //CargaHC({{ id }});
            document.getElementById('iOriginario').value = '{{ hc.originario }}'
            document.getElementById('iMedico').value = '{{ hc.medico_particular}}'
            document.getElementById('iTelefonoMedico').value = '{{ hc.telefono_medico }}'

        }
    </script>
{% endblock content %}