{% extends "genericos/layout.html" %}
{% block content %}
    {% load static %}
    {% csrf_token %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  	<section class="content">
      <div class="container-fluid">
      	<div class="card ">
           <div class="card-header">
           	<div class="row" >
                <div class="col-md-6">
                    <img src="{% static '/dist/images/paciente.svg' %}" class="tamImagen "/>
           			<h5 class="card-title" style="font-size: 30px;">Pacientes</h5>
                </div>
                <div class="col-md-6 text-right">
                    <div class="card-tools">
                    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#tomarFotoModal">
                            Tomar Foto
                        </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">
                      <i class="fas fa-wrench" style="color: #1682BB;"></i>
                    </button>
                    {% include 'panel_paciente.html' %}
                  </div>
                </div>
            </div>
            </div>
      			<div class="card-body">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="id_nombre">Nombre</label><input type="text" value=""
                                style="text-transform: uppercase;" id="id_nombre" name="id_nombre" autofocus
                                maxlength="20" class="form-control"  />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="id_apelidos">Apellidos</label><input type="text" value=""
                                style="text-transform: uppercase;" id="id_apelidos" name="id_apelidos"
                                maxlength="30" class="form-control" />
                        </div>
                        <div class="col-md-6 mb-3">

                            <label for="id_correo">Correo:</label>
                            <input type="email" id="id_correo" value=""
                                name="id_correo" maxlength="100" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="id_fecha_nacimiento">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" value=""
                                   name="id_fecha_nacimiento" placeholder="" id="id_fecha_nacimiento" onfocusout="calculaEdad();" />
                        </div>
                        <div class="col-md-2 mb-3">

                            <label for="id_edad">Edad</label>
                                <input type="number" value=""  class="form-control"  name="id_edad" id="id_edad" maxlength="2" />
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="id_sexo">Sexo</label>
                            <select id="id_sexo"  name="id_sexo" class="form-control" data-title="Select Sexo" data-style="btn-default btn-block" data-menu-style="dropdown-blue">
                               <option value="Femenino">Femenino</option>
                                <option value="Masculino">Masculino</option>
                                <option value="No Definido">No Definido</option>
                            </select>

                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="id_ocupacion">Ocupación</label>
                            <input class="form-control" type="text" name='id_ocupacion' value="" maxlength="200" id="id_ocupacion" />
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="id_cp">CP</label>
                            <input id="id_cp"  clasS="form-control" value="" name="id_cp" onfocusout="busca_cp  (this,'id_estado','i_mun','id_ciudad','id_colonia','id_calle');"  type="number" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-4">
                            <label for="id_calle">Calle y Número</label> <input value=""
                                class="form-control" type="text" name="id_calle" maxlength="30" id="id_calle" />
                        </div>
                        <div class="col-md-4 mb-4">

                            <label for="id_colonia">Colonia</label>
                            <select class="form-control" id="id_colonia" name="id_colonia"></select>

                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="id_telefono">Teléfono:</label><input type="text" id="id_telefono" value=""
                                name="id_telefono" maxlength="20" class="form-control" />
                        </div>
                        <div class="col-md-2 mb-2">
                            <label for="id_celular">Celular:</label><input type="text" id="id_celular" value=""
                                name="id_celular" maxlength="20" class="form-control" />
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label for="id_ciudad">Ciudad :</label><input type="text" id="id_ciudad"
                               name="id_ciudad" maxlength="20" class="form-control" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="id_estado">Estado</label> <input class="form-control"
                                type="text" name="id_estado" maxlength="30" id="id_estado" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="id_pais">País</label> <input class="form-control"
                                value="Méxco" type="text" maxlength="30" name="id_pais" id="id_pais" />
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="id_medico">Médico</label> <input class="form-control"
                                value="Méxco" type="text" maxlength="30" name="id_medico" id="id_medico" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="input-field col-md-12">
                            <label for="id_observaciones">Observaciones:</label>
                            <textarea id="id_observaciones"  name="id_observaciones" rows="6" class="form-control ">
                                </textarea>

                        </div>
                    </div>

             	</div>
             	<div class="card-footer">
                    <button type="submit" class="btn btn-outline-success" onclick="">Limpiar</button>
             		<button type="submit" class="btn btn-outline-danger" onclick="">Cancel</button>
                    <button type="submit" class="btn btn-outline-info" onclick="guardaPacientes();">Guardar</button>

                </div>

            </div>
      </div>
      </div>
    </section>

 </div>
<div class="modal fade" id="tomarFotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Foto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row" >

            <div class="col4">
                <video width=240 height=180
                    style="outline: #9e9e9e solid 1px; padding-bottom: 3px;"
                    id="monitor" controls autoplay></video>
                <p>
                    <button type="submit" class="btn btn-secondary" id="snap">
                        <span class="fa fa-play"></span>
                    </button>
                    &nbsp;
                    <button class="btn btn-secondary" id="stopCamara">
                        <span class="fa fa-stop"></span>
                    </button>
                    <button class="btn btn-secondary" id="dispara1">
                        <span class="fa fa-camera"></span>1
                    </button>
                    <button class="btn btn-secondary" id="dispara2">
                        <span class="fa fa-camera"></span>2
                    </button>
                    <button class="btn btn-secondary" id="dispara3">
                        <span class="fa fa-camera"></span>3
                    </button>
                </p>
            </div>
            <div class="col2">
                <canvas width=240 height=180 id="foto1"></canvas>
                <p>Foto1</p>
            </div>
            <div class="col2">
                <canvas width=240 height=180 id="foto2"></canvas>
            </div>
            <div class="col2">
                <canvas width=240 height=180 id="foto3"></canvas>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
    <script>
        const existe = {{ existePac }};
        if (existe!=0) {
            {{ paciente.nombre }}
            {{ paciente.apellidos }}
            {{ paciente.correo }}
            {{ paciente.fecha_nacimiento |safe  }}
            {{ paciente.edad}}{{ paciente.ocupacion }}{{ paciente.cp }}{{ paciente.calle }}{{ paciente.colonia }}{{ paciente.telefono }}{{ paciente.celular }}
            {{ paciente.celular2 }}{{ paciente.estado }}{{ paciente.pais }}{{ paciente.observaciones|safe }}
            document.getElementById('iOriginario').value = '{{ hc.originario }}'
            document.getElementById('iMedico').value = '{{ hc.medico_particular}}'
            document.getElementById('iTelefonoMedico').value = '{{ hc.telefono_medico }}'
        }
    </script>
{% endblock content %}