ajax==3.0.0
asgiref==3.3.1
decorator==4.4.2
Django~=3.1.2
django-appconf==1.0.4
psycopg2-binary==2.8.6
pytz==2020.5
sqlparse==0.4.1
unicodecsv==0.14.1

djangorestframework~=3.12.2
django-email-users~=1.1.0
django-richtextfield~=1.6
pyparsing~=2.4.7