{% extends "genericos/layout.html" %}
{% block content %}
    {% load static %}
    {% csrf_token %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"> 
  	<section class="content">
      <div class="container-fluid">
      	<div class="card">
           <div class="card-header">
           	<div class="row" >
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static '/dist/images/citas2.svg'%}" class="tamImagen"/>
                        <h5> Abrir Caja</h5>

                    </div>
                    <div class="col-md-6">
                          <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                              <i class="fas fa-wrench" style="color: #1682BB;"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="../citas/citas" class="dropdown-item">Nueva</a>
                                <a href="../citas/buscarcitas" class="dropdown-item">Buscar</a>
                                <a href="../citas/eliminar" class="dropdown-item">Eliminar</a>
                                <a href="../citas/reagendar" class="dropdown-item">Reagendar</a>
                                <a class="dropdown-divider"></a>
                                <a href="../citas/listacitas" class="dropdown-item">Lista Citas</a>
                            </div>
                          </div>

                    </div>
                </div>
              </div>
           </div>
            <div class="card-body">
                {% csrf_token %}
                <div class="container-fluid">
                </div>
                <div class="card-footer">
                    <button  class="btn btn-outline-success" onclick="limpiaCita()">Limpiar</button>
                    <button  class="btn btn-outline-danger" onclick="mensaje('Cancelando..')">Cancel</button>
                    <button  class="btn btn-outline-info" onclick="guardaCita()">Guardar</button>
                </div>
        </div>
      </div>
      </div>
    </section>
 </div>


{% endblock content %}