{% extends "genericos/layout.html" %}
{% block content %}
    {% load static %}
    {% csrf_token %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper"> 
  	<section class="content">
      <div class="container-fluid">
      	<div class="card">
           <div class="card-header">
           	<div class="row" >
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static '/dist/images/citas2.svg'%}" class="tamImagen"/>
                        <h5 class="card-title" style="font-size: 30px;">Proveedores</h5>

                    </div>
                    <div class="col-md-6">
                        <div class="card-tools">

                          <div class="btn-group">
                            <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                              <i class="fas fa-wrench" style="color: #1682BB;"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <a href="../citas/citas" class="dropdown-item">Nueva</a>
                                <a href="../citas/buscarcitas" class="dropdown-item">Buscar</a>
                                <a href="../citas/eliminar" class="dropdown-item">Eliminar</a>
                                <a href="../citas/reagendar" class="dropdown-item">Reagendar</a>
                                <a class="dropdown-divider"></a>
                                <a href="../citas/listacitas" class="dropdown-item">Lista Citas</a>
                            </div>
                          </div>

                         </div>
                    </div>
                </div>
              </div>
           </div>
            <div class="card-body">

                {% csrf_token %}
                <div class="container-fluid">
                    <div class="flex-row">
                        <label for="iProvRazonSocial">Razón Social</label>
                        <input class="form-control" type="text" id="iProvRazonSocial" name="iProvRazonSocial" maxlength="100">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="iProvNombre">Nombres</label>
                            <input class="form-control" type="text" id="iProvNombre" name="iProvNombre" maxlength="40">
                        </div>
                        <div class="col-md-4">
                            <label for="iProvApellidoPat">Apellido Paterno</label>
                            <input class="form-control" type="text" id="iProvApellidoPat" name="iProvApellidoPat" maxlength="40">
                        </div>
                        <div class="col-md-4">
                            <label for="iProvApellidoMat">Apellido Materno</label>
                            <input class="form-control" type="text" id="iProvApellidoMat" name="iProvApellidoMat" maxlength="40">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="iProvCP">CP</label>
                            <input class="form-control" type="text" onfocusout="busca_cp(this,'iProvEstado','iProvCiudad','iProvMunicipio','iProvCalle');" id="iProvCP" name="iProvCP" maxlength="8">
                        </div>
                        <div class="col-md-4">
                            <label for="iProvEstado">Estado</label>
                            <input class="form-control" type="text" id="iProvEstado" name="iProvEstado" maxlength="40">
                        </div>
                        <div class="col-md-4">
                            <label for="iProvCiudad">Ciudad</label>
                            <input class="form-control" type="text" id="iProvCiudad" name="iProvCiudad" maxlength="40">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="iProvMunicipio">Municipio</label>
                            <input class="form-control" type="text" id="iProvMunicipio" name="iProvMunicipio" maxlength="40">
                        </div>
                        <div class="col-md-4">
                            <label for="iProvColonia">Colonia</label>
                            <select id="iProvColonia"  name="iProvColonia" class="form-control">
                                <option value="NA">No Aplica</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label for="iProvCalle">Calle y Número</label>
                            <input class="form-control" type="text" id="iProvCalle" name="iProvCalle" maxlength="40">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="iProvTelefono">Teléfono</label>
                            <input class="form-control" type="text" id="iProvTelefono" name="iProvTelefono" maxlength="20">
                        </div>
                        <div class="col-md-4">
                            <label for="iProvCelular">Celular</label>
                            <input class="form-control" type="text" id="iProvCelular" name="iProvCelular" maxlength="20">
                        </div>

                        <div class="col-md-4">
                            <label for="iProvEmail">Email</label>
                            <input class="form-control" type="text" id="iProvEmail" name="iProvEmail" maxlength="80">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="iProvPaginaWeb">Página Web</label>
                            <input class="form-control" type="text" id="iProvPaginaWeb" name="iProvPaginaWeb" maxlength="100">
                        </div>
                        <div class="col-md-8">

                            <label for="iProvObservaciones">Observaciones</label>
                            <textarea class="form-control" type="text"  id="iProvObservaciones" name="iProvObservaciones" maxlength="256"></textarea>
                        </div>

                    </div>
                </div>
            <div class="card-footer">
                <button  class="btn btn-outline-success" onclick="limpiaProveedor()">Limpiar</button>
                <button  class="btn btn-outline-danger" onclick="guardaProveedor('C')">Cancel</button>
                <button  class="btn btn-outline-info" onclick="guardaProveedor('G')">Guardar</button>

            </div>
        </div>
      </div>
      </div>
    </section>
 </div>


{% endblock content %}