{% extends "genericos/layout.html" %}
{% block content %}
    {% load static %}
    {% csrf_token %}
  <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  	<section class="content">
      <div class="container-fluid">
      	<div class="card ">
           <div class="card-header">
           	<div class="row" >
                <img src="{% static '/dist/images/paciente.svg'%}" class="tamImagen"/>
           			<h4 class="card-title" style="font-size: 20px">Historia Clínica</h4>
           		</div>
           </div>
            <div class="row" style="padding: 10px 5px;">
                <div class="col-md-8 input-group mb-3">
                      <input type="text" id="iBuscaPaciente" name="iBuscaPaciente"
                        maxlength="60" class="form-control" placeholder="Buscar paciente..." />
                     <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">
                      <i class="fas fa-search" style="color: #1682BB;"></i>
                    </button>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">

                    <label for="i"></label>
                    <button type="button" class="btn btn-outline-primary" data-toggle="dropdown">
                      <i class="fas fa-wrench" style="color: #1682BB;"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a href="/pacientes" class="dropdown-item">Nuevo Paciente</a>
                      	<a href="/citas/buscar" class="dropdown-item">Buscar</a>
                      	<a href="/citas/eliminar" class="dropdown-item">Eliminar</a>
                      	<a href="/citas/reagendar" class="dropdown-item">Reagendar</a>
                      	<a class="dropdown-divider"></a>
                      	<a href="../citas/listacitas" class="dropdown-item">Lista Citas</a>
                    </div>

                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Datos Personales</h5>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="iOriginario">Originario</label>
                        <input type="text" id="iOriginario" name="iOriginario" autofocus
                            maxlength="30" class="form-control"  />
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="iMedico">Médico Particular</label>
                        <input type="text" id="iMedico" name="iMedico"
                            maxlength="30" class="form-control" />
                    </div>
                    <div class="col-md-2 mb2">
                        <label for="iTelefonoMedico">Teléfono Médico</label>

                          <input type="text" class="form-control" maxlength="14" pattern="[0-9]{10}" placeholder="(999) 999-9999" id ="iTelefonoMedico">

                    </div>
                    <div class="col-md-4 mb4">
                        <label for="iMotivo">Motivo Cita</label>

                        <textarea type="text"  class="form-control" maxlength="256" id="iMotivo"></textarea>

                    </div>
                </div>
                <div class="row"><h5 style="color:grey;font-weight: bold;">Antecedentes Patológicos</h5></div>
                <div class="form-row">

                    <div class="col-md-4 mb-6">
                        <label for="iEnfermedadUltimosAnos">Enfermedad en los últimos años</label>
                        <textarea type="text" id="iEnfermedadUltimosAnos" name="iEnfermedadUltimosAnos" autofocus
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iEnfermedadGrave">Enfermedad Grave</label>
                        <textarea type="text" id="iEnfermedadGrave" name="iEnfermedadGrave"
                                  maxlength="128" class="form-control"></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iCirugia">Cirugías</label>
                        <textarea type="text" class="form-control" maxlength="128"  id ="iCirugia"></textarea>
                    </div>
                </div>

                  <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iTraumatismoSecuelas">Traumatismos/Secuelas</label>
                        <textarea type="text" id="iTraumatismoSecuelas" name="iTraumatismoSecuelas" autofocus
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iTransfusiones">Transfusiones</label>
                        <textarea type="text" id="iTransfusiones" name="iTransfusiones"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iHemorragias">Hemorragias</label>
                        <textarea type="text" class="form-control" maxlength="128"  id ="iHemorragias"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iDonadorSangre">Donador de Sangre</label>
                        <textarea type="text" id="iDonadorSangre" name="iDonadorSangre" autofocus
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iAccidenteTratamientos">Accidentes Tratamientos</label>
                        <textarea type="text" id="iAccidenteTratamientos" name="iAccidenteTratamientos"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iTratamientoPadecimiento">Tratamiento Médico/Padecimiento</label>
                        <textarea type="text" class="form-control" maxlength="128"  id ="iTratamientoPadecimiento"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iTomaMedicamento">Toma Algún Médicamento/Cuáles</label>
                        <textarea type="text" id="iTomaMedicamento" name="iTomaMedicamento" autofocus
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-8 mb-6">
                        <label for="iEnfermedades">Enfermedades</label>
                        <textarea type="text" id="iEnfermedades"
                                  placeholder="Reumatismo/Anemia/Artritis/Asma/FiebreReumatica/Epilepsia/Tiroides/Hipertensión/CirrosisHepática/EndocarditisBacteriana/Sinusitis/Hepatitis/Herpes/Cancer/Cardiopatias/Hemofilias/Malformaciones/Trastornosauditivos/InfectoContagiosos/VIH/Tuberculosis/Venereas/Hipotensión"
                                  name="iEnfermedades"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>

                </div>
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Antecedentes Hereditarios</h5>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iFamiliar">Familiar Con Alguna Enfermedad</label>
                        <textarea type="text" id="iFamiliar" name="iFamiliar" autofocus
                                  placeholder="Diabetes/Cancer/Infarto/Otro"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iAlguienEnfermo">Actualmente alguien está enfermo</label>
                        <textarea type="text" id="iAlguienEnfermo" name="iAlguienEnfermo"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iEmbarazada">Embarazada</label>
                        <textarea type="text" class="form-control" maxlength="128"  id ="iEmbarazada"></textarea>
                    </div>
                </div>
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Antecedentes Salud Bucal</h5>
                </div>
                 <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iDonadorSangre">Higiene</label><br>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="iHigieneBuena" value="option1">
                              <label class="form-check-label" for="iHigieneBuena">Buena</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="iHigieneRegular" value="option2">
                              <label class="form-check-label" for="iHigieneRegular">Regular</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" id="iHigieneSupervisar" value="option3">
                              <label class="form-check-label" for="iHigieneSupervisar">Supervisar</label>
                            </div>

                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iCepilladosDia">Número de Cepillados al día</label>
                        <input type="text" id="iCepilladosDia" name="iCepilladosDia"
                                  maxlength="2" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iTratamientoPadecimiento">Alimentación</label><br>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="iAlimentacionBuena" value="option1">
                          <label class="form-check-label" for="iAlimentacionBuena">Buena</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="iAlimentacionRegular" value="option2">
                          <label class="form-check-label" for="iAlimentacionRegular">Regular</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="iAlimentacionMala" value="option3">
                          <label class="form-check-label" for="iAlimentacionMala">Mala</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iIntegrantes">Integrantes en Casa</label><br>
                         <input type="namber" id="iIntegrantes" name="iIntegrantes"
                                  maxlength="2" class="form-control" >
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iDeporte">Practicas algún deporte</label>
                        <input type="text" id="iDeporte" name="iDeporte"
                                  maxlength="100" class="form-control" >
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iHabito">Algún Hábito o Adicción</label>
                        <input type="text" id="iHabito" name="iHabito"
                                  maxlength="100" class="form-control" >
                    </div>
                </div>
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Signos Vitales</h5>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="iTemperatura">Temperatura</label>
                        <input type="text" id="iTemperatura" name="iTemperatura" autofocus
                            maxlength="30" class="form-control"  />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="iPresion">Presión</label>
                        <input type="text" id="iPresion" name="iPresion"
                            maxlength="30" class="form-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="iPulso">Pulso</label>
                        <input type="text" id="iPulso" name="iPulso"
                            maxlength="30" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Antecedentes Odontológicos</h5>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iTratamientoReciente">Tratamiento Odontológico Reciente</label>
                        <textarea type="text" id="iTratamientoReciente" name="iTratamientoReciente"
                                  placeholder="Extracciones/Profilaxis/Amalgamas/Endodoncia/Protesis"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iAlergico">Alergico a Medicamento o Anestésico</label>
                        <textarea type="text" id="iAlergico" name="iAlergico"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6">
                        <label for="iExperiencia">Experiencia</label>
                        <textarea type="text" id="iExperiencia" name="iExperiencia"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Extra Oral</h5>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-6">
                        <label for="iArticulacionTemporoMandibular">Articulación Temporo/Mandibular</label>
                        <textarea type="text" id="iArticulacionTemporoMandibular" name="iArticulacionTemporoMandibular"
                                  maxlength="128" class="form-control" ></textarea>
                    </div>
                    <div class="col-md-4 mb-6" style="top:22px;">
                        <div class="form-check-inline">
                          <input class="form-check-input" type="checkbox" id="cDolorArticulacion" value="option1">
                          <label class="form-check-label" for="cDolorArticulacion">Dolor Articulación</label>
                        </div>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="checkbox" id="cChasquidosRuidos" value="option2">
                          <label class="form-check-label" for="cChasquidosRuidos">Chasquidos o Ruidos Articulares</label>
                        </div>
                        <div class="form-check-inline">
                          <input class="form-check-input" type="checkbox" id="cLimitacionApertura" value="option3">
                          <label class="form-check-label" for="cLimitacionApertura">Limitación de la Apertura</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-6" style="top:22px;">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="cLimitacionMovimientos" value="option3">
                          <label class="form-check-label" for="cLimitacionMovimientos">Limitación de Movimientos</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="cBruxismo" value="option3">
                          <label class="form-check-label" for="cBruxismo">Bruxismo</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h5 style="color:grey;font-weight: bold;">Observaciones</h5>
                </div>
                <div class="form-row">
                    <textarea type="text" id="tObservaciones" name="tObservaciones"
                                  maxlength="128" class="form-control" ></textarea>
                </div>
            </div>
             <div class="modal-footer">
                <button class="btn btn-outline-primary" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="sr-only">Loading...</span>
                </button>
                <button type="button" class="btn btn-outline-primary"> Guardar </button>
              </div>
        </div>
      </div>



    </section>
</div>
{% endblock content %}